outdated==0.2.1
pyquil==3.0.0
pytket-pyquil==0.16.0
pytket-pyquil==0.16.0
qiskit==0.30.0
qiskit-aer==0.9.0
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.16.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.2
